@model TAR1DPWHDATA.DataModels.ChangePasswordModel

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h4>Changing Password</h4>

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
{
    <div class="row">
       
        <div class="col-sm-offset-5 col-sm-2 col-sm-offset-5">
            <p>@Html.HiddenFor(model => model.ID)</p>
            <p>@Html.HiddenFor(model => model.CurrentPassword)</p>
            <p>@Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Old Password", type = "password", style = "min-width: 100%" } })</p>
            <p>@Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })</p>
            <p>@Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "New Password", type = "password", style = "min-width: 100%" } })</p>
            <p>@Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })</p>
            <p>@Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Confirm Password", type = "password", style = "min-width: 100%" } })</p>
            <p>@Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })</p>
            <p>@Html.ValidationMessage("ChangePasswordError", new { style = "color:red;" })</p>
            <br />
            <p><button type="submit" class="btn-primary btn-sm btn-block"> Submit</button></p>
        </div>
    </div>
}
@if (ViewBag.Message != null)
{
    if (ViewBag.Message.Substring(0, 2).ToUpper() != "AN")
    {
        <script type="text/javascript">
        window.onload = function () {
                alert("@ViewBag.Message");
                var baseUrl = '@Url.Content("~")';
                window.location.href = baseUrl + "Authentication/Logout";
        };
        </script>
    }
    else
    {
        <script type="text/javascript">
        window.onload = function () {
                alert("@ViewBag.Message");
        };
        </script>
    }
}
